* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Common */
.text-white {
  color: #fff !important;
}

.text-center {
  text-align: center !important;
}

.row-first {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
}

.col-first {
  padding-left: 8px;
  padding-right: 8px;
}

.col-half {
  width: 50%;
}

.col-full {
  width: 100%;
}

.col-third {
  width: calc(100% / 3);
}

/* Main */

#main {
}

#header {
  background-color: #000;
  width: 100%;
  height: 46px;
  position: fixed;
  top: 0px;
  z-index: 1; /* Cho thanh header nổi len khong che phan ben duoi khi cuon */
}

#nav {
  display: inline-block;
}

#nav li {
  display: block;
  list-style-type: none;
}

#nav > li {
  position: relative;
  float: left;
}

#nav > li > a {
  text-transform: uppercase;
}

#nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
  line-height: 46px;
  font-size: 15px;
  padding: 0 24px;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  top: 100%;
  left: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  line-height: 38px;
  padding-left: 16px;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  background-color: #ccc;
  color: #000;
}

#header .nav-btn-search:hover {
  background-color: #f44336;
  cursor: pointer;
}

#nav .nav-btn-down {
  display: inline-block;
}

#nav .btn-down {
  font-size: 12px;
  position: relative;
  top: 1.5px;
  left: -3px;
}

#header .nav-btn-search {
  float: right;
  color: #fff;
}

#header .btn-search {
  line-height: 46px;
  padding: 0 24px;
  font-size: 16px;
}

#slider {
  margin-top: 46px;
  padding-top: 50%;
  background-image: url("/image/slider1/slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
}

#slider .slider-content {
  color: #fff;
  text-align: center;
  padding: 32px 16px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#slider .content-header {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

#slider .content-sub {
  margin-bottom: 15px;
  font-weight: bolder;
}

/* Content about */
.content-about {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 64px 16px;
}
.content-heading {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 4px;
  text-align: center;
  font-weight: normal;
}
.content-sub-heading {
  margin: 15px 0;
  font-size: 15px;
  opacity: 0.6;
  font-style: italic;
  text-align: center;
}
.content-text {
  margin: 15px 0;
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
}

.content-list {
  padding-top: 32px;
  padding-bottom: 20px;
}

.content-item {
}

.content-name {
  margin: 15px 0;
}
.content-img {
  width: 154px;
  border-radius: 4px;
  margin-bottom: 16px;
}

/* Tour */
.tour-date {
  background-color: #000;
}

.tour-month {
  color: #757575;
  background-color: #fff;
  font-size: 15px;
  margin-top: 46px;
}

.tour-month li {
  height: 39.5px;
  line-height: 22.5px;
  list-style: none;
  border-bottom: 1px solid #ddd;
  padding: 8px 16px;
}
.tour-sold-out {
  line-height: 22.5px;
  background-color: #f44336;
  padding: 4px 8px;
  color: #fff;
  margin-left: 16px;
}

.tour-qtt {
  float: right;
  margin-right: 16px;
  padding: 1px 8px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  margin-top: -2.5px;
}

/* Tour list */
.tour-list {
  margin-top: 32px;
  margin-bottom: 48px;
}

.tour-item {
}

.tour-img {
  width: 100%;
  display: block;
}

.tour-img:hover {
  opacity: 0.6;
}

.tour-sub-img {
  background-color: #fff;
  padding: 0 16px;
}

.tour-heading {
  padding-top: 15px;
  line-height: 22.5px;
  font-weight: 600;
  font-size: 15px;
}

.tour-time {
  margin-top: 15px;
  opacity: 0.6;
}

.tour-sub {
  margin: 15px 0;
  line-height: 1.5;
}

.tour-btn {
}

.btn-ticket {
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  color: #fff;
  padding: 10px 16px;
  background-color: #000;
  margin-bottom: 16px;
  font-size: 15px;
  cursor: pointer;
}

.btn-ticket:hover {
  background-color: #ccc;
  color: #000;
}

/* Modal ticket */
.modal {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.modal.open {
  display: flex;
}

.modal-containel {
  background-color: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 300px;
  position: absolute;
  top: 100px;
  animation: modalShow 0.45s ease;
}
.modal-header {
  padding: 32px 16px;
  position: relative;
  background-color: #009688;
  color: #fff;
  text-align: center;
}

.modal-header h3 {
  margin: 10px 0;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 400;
}

.modal .modal-header .ti-close {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 13px;
  padding: 18px 18px;
  display: inline-block;
  cursor: pointer;
}

.ti-close:hover {
  background-color: #ccc;
  color: #000;
}

.modal-ticket {
}
.ti-bag {
}

.modal-body {
  padding: 0 16px;
  font-size: 15px;
}

.modal-label {
}
.ti-shopping-cart {
  margin-right: 2px;
}

.modal-qtt {
}

.modal-body input {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 15px;
  padding: 8px;
}

.modal-body p {
  margin-top: 23px;
  margin-bottom: 13px;
}

.modal-label {
}

.ti-user {
  margin-right: 2px;
}

.modal-email {
}

.modal-btn {
  padding: 16px;
  background-color: #009688;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 16px 0;
  cursor: pointer;
}

.modal-btn:hover {
  background-color: #ccc;
  color: #000;
}

.ti-check {
}

.modal-footer {
  padding: 0 16px;
}

.footer-close {
  display: inline-block;
  padding: 12px 16px;
  margin: 16px 0;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
}

.footer-close:hover {
  background-color: #ccc;
  color: #000;
}
.footer-btn {
  display: inline-block;
  font-size: 13px;
}
.footer-help {
  float: right;
  margin: 15px 0;
  font-size: 15px;
}
.help {
  color: #2196f3;
}

/* Contact form */
.row {
  padding: 32px 0;
}

.contact-content {
  font-size: 18px;
  line-height: 1.4;
}

.contact-content i[class*="ti-"] {
  width: 36px;
  display: inline-block;
}

.contact-form {
}

.contact-form .form-control {
  font-size: 15px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
}

.form-padding {
  margin-bottom: 8px;
}

.submit-control {
  color: #fff;
  background-color: #000;
  margin: 16px 0;
  padding: 11px 16px;
  border: none;
  font-size: 15px;
  float: right;
}

.submit-control:hover {
  background-color: #ccc;
  color: #000;
}

@keyframes modalShow {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
